//.section-title.darkbg.bigger config


h4.pa2.w600.biggest.darkbg.center= t('your parameters')
#account-form.lightgrey.w600.pa2
    .input
        p= t('alerts and password recovery email')
        input#account-email-field
        button.btn= t('save')
    .input
        p= t('public name description')
        input#account-public-name-field
        button.btn= t('save')
    .input
        p= t('your timezone is required')
        select#account-timezone-field
        button.btn= t('save')
    .input
        p= t('domain name for urls and email')
        input#account-domain-field
        button.btn= t('save')

    .input
        p= t('Chose the language you want I use to speak with you:')
        select#account-locale-field
            option(value="fr")= t('french')
            option(value="en")= t('english')
            option(value="de")= t('german')
        button.btn= t('save')

    p
        button#change-password-button.btn= t('change password')

    #change-password-form
        p= t('change password procedure')
        p
            label= t('input your current password')
        input#account-password0-field(type="password", placeholder="#{t('current password')}")

        p
            label= t('enter a new password')
        input#account-password1-field(type="password", placeholder="#{t('new password')}")
        p
            label= t('confirm your new password')
        input#account-password2-field(type="password", placeholder="#{t('new password')}")

        p
            button#account-form-button(class="btn")= t('save your new password')

            p.loading-indicator &nbsp;

            #account-info.alert.main-alert.alert-success.hide
                    #account-info-text

            #account-error.alert.alert-error.main-alert.hide
                    #account-form-error-text
