.clearfix
    span.left
        strong #{app.displayName}
        if app.version
            span &nbsp;-&nbsp; #{app.version}
        span &nbsp;-&nbsp;
        if app.state === 'installed'
            span.state-label= t('running')
        else
            span.state-label
                | #{app.state}
        if app.needsUpdate
            span &nbsp;
            img.update-notification-icon(
                width=16, src="img/notification-orange.png",
                title="#{t('update required')}", alt="#{t('update required')}")

    .buttons.right
        span.smaller
            input(class="app-stoppable",
                  type="checkbox",
                  title="always on",
                  checked="checked",
                  name="app-stoppable-#{app.id}")
            label(for="app-stoppable-#{app.id}") auto stop
        button.btn.btn-large.start-stop-btn
            i.fa.fa-power-off
            | 
            span.label= t('stop this app')
        button.btn.update-app
            i.fa.fa-refresh
            | 
            span.label= t('update')
        button.btn.remove-app
            i.fa.fa-trash
            | 
            span.label= t('remove')

    .comments
        if app.comment === 'official application'
            img(src="img/happycloud-black.svg", alt="#{t(app.comment)}", width="20")
        a(href="#{app.website}")= app.website
