.clearfix
    .mod
        strong #{app.displayName}
        if app.version
            span &nbsp;-&nbsp; #{app.version}
        span &nbsp;-&nbsp;
        if app.state === 'installed'
            span.state-label= t('running')
        else
            span.state-label
                | #{app.state}
        if app.needsUpdate
            span &nbsp;
            img.update-notification-icon(
                width=16, src="img/notification-orange.png", 
                title="#{t('update required')}", alt="#{t('update required')}")

    .buttons.right
        .mod.right
            button.btn.remove-app= t('remove')
        .mod.right
            button.btn.update-app= t('update')
        .mod.right
            button.btn.btn-large.start-stop-btn= t('stop this app')
        .mod.right.smaller
            input(class="app-stoppable",
                  type="checkbox",
                  title="always on",
                  checked="checked",
                  name="app-stoppable")
            label(for="app-stoppable") auto stop
