.clearfix
    .mod.left
        strong #{app.name}
        span &nbsp;-&nbsp;
        if app.state === 'installed'
            span.state-label= t('running')
        else
            span.state-label 
                | #{app.state}
     .roundedOne
         input(type="checkbox", value="None", id="roundedOne", name="check")
         label(for="roundedOne") &nbsp;
        
    .mod.right
        button.btn.remove-app= t('remove')
    .mod.right 
        button.btn.update-app= t('update')
    .mod.right
        button.btn.btn-large.start-stop-btn= t('stop this app')
    //-.mod.right.smaller
        //-input(class="app-stoppable",
              //-type="checkbox",
              //-title="always-on",
              //-checked="checked",name="app-stoppable")
        //-| auto stop
