//.section-title.darkbg.bigger apps
.txt-center
    .line.w800
        .mod.w33.left
            .sys-infos.line
                .mod.center-txt
                    h4= t('hardware consumption')
                    .disk-space.mt2
                        .line
                            img(src="img/hard-drive.png")
                        .line
                            span.amount 0
                            span &nbsp;/&nbsp;
                            span.total 0
                            span= t('hard drive gigabytes')
                    .memory-free.mt2
                        .line
                            img(src="img/ram.png")
                        .line
                            span.amount 0
                            span &nbsp;/&nbsp;
                            span.total 0&nbsp;
                            span= t('memory megabytes')
                    h4= t('cozy platform')
                    .stack-app.mt2
                        .line
                            span.app Data System: 
                            span.data-system --
                        .line
                            span.app Proxy: 
                            span.proxy --
                        .line
                            span.app Home: 
                            span.home --
                        .line
                            span.app Controller: 
                            span.controller --
                        .line.buttons
                            button.btn.update-stack= t('update stack')
                            button.btn.reboot-stack= t('reboot stack')
                        .line
                            span.refresh= t('refresh page')


        .mod.w66.right
            .title-device.h4.mb3= t('manage your devices')
        .mod.w66.left
            .title-app.h4.mb3= t('manage your applications')
            button.btn.update-all= t('update all')
