.line
    .left.mod.w75
        .line
            span.favorite.mr1
                if app.favorite
                    i.fa.fa-star(title='config application unmark favorite')
                else
                    i.fa.fa-star-o(title='config application mark favorite')
            strong #{app.displayName}
            if app.version
                span &nbsp;-&nbsp; #{app.version}
            span &nbsp;-&nbsp;
            if app.state === 'installed'
                span.state-label= t('running')
            else
                span.state-label
                    | #{app.state}
        .line
            if app.needsUpdate
                span.to-update-label= t('update required')
        .line
            .comments
                a(href="#{app.website}", target="_blank")= app.website
    .buttons.left.mod.w25
        div
            button.btn.update-app
                i.fa.fa-refresh.mr1
                | 
                span.label= t('update')
        div
            button.btn.remove-app
                i.fa.fa-trash.mr1
                | 
                span.label= t('remove')
        div
            button.btn.btn-large.start-stop-btn
                i.fa.fa-power-off.mr1
                | 
                span.label= t('stop this app')
        div
            a.btn.btn-large(href="/logs/#{app.slug}", target="_blank")
                i.fa.fa-cog.mr1
                | 
                span.label= t('show logs')
