//.section-title.darkbg.bigger apps
.md-overlay
.txt-center
    .line.platform-section
        .mod.left.w50
            h4= t('hardware consumption')
            .line
                .disk-space.mt2.left.w50.mod
                    .line
                        img(src="img/hard-drive.png")
                    .line
                        span.amount 0
                        |  / 
                        span.total 0
                        |  #{t('hard drive gigabytes')}
                .memory-free.mt2.left.w50.mod
                    .line
                        img(src="img/ram.png")
                    .line
                        span.amount 0
                        |  / 
                        span.total 0
                        |  #{t('memory megabytes')}

            h4= t('cozy platform')
            .stack-app.mt2.line
                .mod.w75.left
                    .line
                        span.app Data System: 
                        span.data-system --
                    .line
                        span.app Proxy: 
                        span.proxy --
                    .line
                        span.app Home: 
                        span.home --
                    .line
                        span.app Controller: 
                        span.controller --
                    .line
                        span.refresh= t('refresh page')
                .mod.buttons.w25.right
                    button.btn.update-stack
                        i.fa.fa-refresh.mr1
                        span= t('update stack')
                    button.btn.update-all
                        i.fa.fa-refresh.mr1
                        span= t('update all')
                    button.btn.reboot-stack
                        i.fa.fa-power-off.mr1
                        span= t('reboot stack')

            h4.title-device.h4.mb3= t('manage your devices')

        .mod.left.w50
            h4.title-app.h4.mb3= t('manage your applications')
