.icon-container
    a(href="#apps/#{app.name}")
        img.icon(src="")
.infos
    .line
        strong
            a(href="#apps/#{app.name}")= app.displayName
        button.update-app.outline-blue(title="#{t('update')}")
            i.fa.fa-refresh
            span= t('update')
    .line
        if app.version
            span #{app.version}
        span &nbsp;-&nbsp;
        if app.state === 'installed'
            span.state-label= t('running')
        else
            span.state-label
                | #{app.state}
    .line
        .comments
            a(href="#{app.website}", target="_blank")= app.website
            span
                | (#{app.branch})

.buttons
    button.transparent-grey.favorite
        if app.favorite
            span= t('config application unmark favorite')
            i.fa.fa-star(title="#{t('config application unmark favorite')}")
        else
            span= t('config application mark favorite')
            i.fa.fa-star-o(title="#{t('config application mark favorite')}")
    a.transparent-grey.logs(href="/logs/#{app.slug}", target="_blank", title="#{t('show logs')}", role="button")
        span= t('show logs')
        i.fa.fa-code
    button.transparent-grey.start-stop-btn(title="#{t('stop this app')}")
        span= t('stop this app')
        i.fa.fa-power-off
    button.transparent-grey.remove-app(title="#{t('remove')}")
        span= t('remove')
        i.fa.fa-trash
