.line.lightgrey.help-section

    .mod.w50.left.pa2
        img(src="img/contribute.jpg")
        h4= t('help community title')
        .line
            p.help-text= t('Register and post on our forum: ') + " "
            P.help-text
                a(href="https://forum.cozy.io") forum.cozy.io
            p.help-text= t('Chat with us on IRC:') + " "
            P.help-text
                a(href="https://webchat.freenode.net/?channels=cozycloud") #cozycloud (irc.freenode.net)

            p.help-text= t('help wiki title') + " "
            P.help-text
                a(href="https://github.com/cozy-setup/wiki") github.com/cozy-setup/wiki

    .mod.w50.left.pa2
        .txtcenter
            a(href="http://cozy.io", target="_blank")
                img.w350(src="img/logo_brand.png")
        h4= t('help support title')
        p.help-text.mt2= t('help send message explanation')
        textarea#send-message-textarea.w100.h400
        button#send-message-button.btn.w100= t('help send message action')
        #send-message-error.alert.main-alert.alert-error.w100= t('send message error')
        #send-message-success.alert.main-alert.alert-success.w100= t('send message success')

        br
        br
        .line
            p.help-text.mt2= t('Write an email to our support team at:')
            P.help-text
                a(href="mailto:support@cozycloud.cc") support@cozycloud.cc
            p.help-text= t('Ask your question on Twitter: ') + " "
            P.help-text
                a(href="https://twitter.com/mycozycloud") @mycozycloud
        h4= t('help documentation title')
        .line
            p.help-text= t('Visit the project website and learn to build your app:')
            P.help-text
                a(href="https://cozy.io") cozy.io
            p.help-text= t('or:')
            p.help-text
                a.wizard(href="/home/quicktour")= t('relaunch install wizard')

    .clearfix
