.line.lightgrey.help-section

    .mod.pa2
        h4= t('help community title')
        .line
            p.help-text= t('community support content')
            .btn-group-big
                a.btn-big-icon.btn-forum(href="https://forum.cozy.io", target="_blank", role="button")
                    .icon-big.forum
                    span= t('help forum title')
                    span
                        | forum.cozy.io
                a.btn-big-icon.btn-irc(href="https://webchat.freenode.net/?channels=cozycloud", target="_blank", role="button")
                    .icon-big.irc
                    span= t('help IRC title')
                    span
                        | #cozycloud (irc.freenode.net)
                a.btn-big-icon.btn-wiki(href="https://github.com/cozy/cozy-setup/wiki", target="_blank", role="button")
                    .icon-big.wiki
                    span= t('help wiki title')
                    span
                        | github.com/cozy/cozy-setup/wiki

    .mod.pa2
        h4= t('help support title')
        p.help-text= t('help send message explanation')
        textarea#send-message-textarea.mt2.w100
        p.help-logs
            input#send-message-logs(type='checkbox', checked='checked')
            span= t('help send logs')
        button#send-message-button.btn.send-message-btn
            .fa.fa-paper-plane
            span= t('help send message action')
        #send-message-error.alert.main-alert.alert-error.w100= t('send message error')
        #send-message-success.alert.main-alert.alert-success.w100= t('send message success')

        br
        br
        .line
            p.help-text.mt2= t('contact us more options')
            .btn-group-big
                a.btn-big-icon.btn-contact(href="mailto:support@cozycloud.cc", role="button")
                    .icon-big.contact
                    span= t('help email title')
                    span
                        | support@cozycloud.cc
                a.btn-big-icon.btn-twitter(href="https://twitter.com/intent/tweet?text=@mycozycloud%20", target="_blank", role="button")
                    .icon-big.twitter
                    span= t('help twitter title')
                    span
                        | @mycozycloud
                a.btn-big-icon.btn-doc(href="https://cozy.io", target="_blank", role="button")
                    .icon-big.doc
                    span= t('help documentation title')
                    span
                        | cozy.io
