.line.lightgrey.help-section

    .mod.pa2
        h4= t('help community title')
        .line
            p.help-text= t('community support content')
            .btn-group-big
                a.btn-big-icon(href="https://forum.cozy.io", target="-blank", role="button")
                    .fa.fa-users
                    span= t('forum')
                    span
                        | forum.cozy.io
                a.btn-big-icon(href="https://webchat.freenode.net/?channels=cozycloud", target="-blank", role="button") 
                    .fa.fa-comment
                    span= t('Chat with us on IRC:')
                    span
                        | #cozycloud (irc.freenode.net)
                a.btn-big-icon(href="https://github.com/cozy/cozy-setup/wiki", target="-blank", role="button") 
                    .fa.fa-book
                    span= t('help wiki title')
                    span
                        | github.com/cozy/cozy-setup/wiki

    .mod.pa2
        h4= t('help support title')
        p.help-text= t('help send message explanation')
        textarea#send-message-textarea.mt2.w100
        p.help-logs
            input#send-message-logs(type='checkbox', checked='checked')
            span= t('help send logs')
        button#send-message-button.btn.w100
            .fa.fa-paper-plane
            span= t('help send message action')
        #send-message-error.alert.main-alert.alert-error.w100= t('send message error')
        #send-message-success.alert.main-alert.alert-success.w100= t('send message success')

        br
        br
        .line
            p.help-text.mt2= t('contact us more options')
            .btn-group-big
                a.btn-big-icon(href="mailto:support@cozycloud.cc", role="button")
                    .fa.fa-envelope
                    span= t('contact us')
                    span
                        | support@cozycloud.cc
                a.btn-big-icon(href="https://twitter.com/intent/tweet?text=@mycozycloud%20", target="-blank", role="button")
                    .fa.fa-twitter
                    span= t('twitter')
                    span
                        | @mycozycloud
                a.btn-big-icon(href="https://cozy.io", target="-blank", role="button")
                    .fa.fa-file-text
                    span= t('help documentation title')
                    span
                        | cozy.io
