a(href="#apps/#{app.slug}/")
    .application-inner
        p
          img(src="")
        p.state-label= t('Installing')
        p.app-title #{app.name}
.application-outer.center
    .btn-group
        button.btn.remove-app= t('remove')
        button.btn.update-app= t('update')
    div

        label(for="app-stoppable")
            input.app-stoppable(
                name="app-stoppable"
                checked= app.isStoppable ? undefined : "checked"
                type="checkbox",
                title=t("always-on"))
            &nbsp;
            = t('Keep always on')
        button.btn.btn-large.start-stop-btn= t('started')
