// .section-title.darkbg.bigger home

#no-app-message.w600
    .darkbg#start-title.clearfix
        a(href="http://cozy.io")
            img.logo(src="img/happycloud.png")
        p.biggest= t('welcome to your cozy')

    p.bigger!= t('you have no apps')
    p.bigger!= t('noapps.first steps', {wizard:'#home/install', quicktour: '#home/quicktour'})
    p.bigger!= t('noapps.customize your cozy', {account: '#account', appstore: '#applications'})

#app-list
    section#apps-official.line
        h2= t('core apps')
    section#apps-leave.line
        h2= t('connectors apps')
    section#apps-other.line
        h2= t('installed apps')
    section#apps-platform.line
        h2= t('settings apps')
        div.application.mod.w20.left.platform-app
            .application-inner
                a(href="#applications")
                    img.icon(src="img/apps/store.svg")
                    p.app-title= t('app store')

        div.application.mod.w20.left.platform-app
            .application-inner
                a(href="#config-applications")
                    img.icon.svg(src="img/apps.png")
                    p.app-title= t('app status')

        div.application.mod.w20.left.platform-app
            .application-inner(href="#account")
                a(href="#account")
                    img.icon.svg(src="img/apps/settings.svg")
                    p.app-title= t('settings')

        div.application.mod.w20.left.platform-app
            .application-inner(href="#help")
                a(href="#help")
                    img.icon.svg(src="img/apps/help.svg")
                    p.app-title= t('help')
