// .section-title.darkbg.bigger home

#no-app-message.w600
  
  .darkbg#start-title.clearfix
    a(href="http://cozy.io")
        img.logo(src="img/happycloud.png")
    p.biggest= t('Welcome to your Cozy!')
  .line
    p.bigger.pa2= t('You have no application installed. You should ')
        a(href="#account")= t('configure ')
        | your Cozy then install your first application 
        | via the&nbsp;
        a(href="#applications") app store
        |.
    p.mt2.pa2
        | If it's your first time on Cozy here is a little guide about all 
        | section available in your Cozy Home. All of them can be reached from
        | the menu located on the top right corner.
    p
        img(src="/img/home-black.png")
        strong=t('Home ')
        | It is the place from where you can reach your applications
    p
        img(src="/img/config-apps.png")
        strong=t('App management ')
        | There you can manage the state of your applications: start it,
        | stop it, remove it...
    p
        img(src="/img/apps.png")
        strong=t('App store ')
        | In the app store, you will find new applications to install on your
        | Cozy.
    p
        img(src="/img/configuration.png")
        strong=t('Configuration ')
        | To work properly your Cozy requires several parameters. Set them in
        | this section.
    p
        img(src="/img/help.png")
        strong=t('Assistance ')
        | You will find here some links to assistance resources.

#app-list
