#no-app-message.w600
    .darkbg#start-title.clearfix
        a(href="http://cozy.io")
            img.logo(src="img/happycloud.png")
        p.biggest= t('welcome to your cozy')

    p.bigger!= t('you have no apps')
    p.bigger!= t('noapps.customize your cozy', {account: '#account', appstore: '#applications'})

#app-list
    section#apps-favorite.line
        h2= t('home section favorites')
    section#apps-leave.line
        h2= t('home section leave')
    section#apps-main.line
        h2= t('home section main')
    section#apps-productivity.line
        h2= t('home section productivity')
    section#apps-data.line
        h2= t('home section data management')
    section#apps-watch.line
        h2= t('home section personal watch')
    section#apps-misc.line
        h2= t('home section misc')
    section#apps-platform.line.show
        h2= t('home section platform')
        div.application.mod.w360-33.w640-25.full-20.left.platform-app
            .application-inner
                a(href="#applications")
                    img.icon(src="img/apps/store.svg")
                    p.app-title= t('app store')

        div.application.mod.w360-33.w640-25.full-20.left.platform-app
            .application-inner
                a(href="#config-applications")
                    img.icon.svg(src="img/apps/state.svg")
                    p.app-title= t('app status')

        div.application.mod.w360-33.w640-25.full-20.left.platform-app
            .application-inner(href="#account")
                a(href="#account")
                    img.icon.svg(src="img/apps/settings.svg")
                    p.app-title= t('settings')

        div.application.mod.w360-33.w640-25.full-20.left.platform-app
            .application-inner(href="#help")
                a(href="#help")
                    img.icon.svg(src="img/apps/help.svg")
                    p.app-title= t('help')
