// .section-title.darkbg.bigger home

#home-edit-close.w600
    a.btn.btn-large(href="#home")= t('finish layout edition')

#no-app-message.w600
    .darkbg#start-title.clearfix
        a(href="http://cozy.io")
            img.logo(src="img/happycloud.png")
        p.biggest= t('welcome to your cozy')

    p.bigger!= t('you have no apps')
    p.bigger!= t('noapps.first steps', {wizard:'#home/install', quicktour: '#home/quicktour'})
    p.bigger!= t('noapps.customize your cozy', {account: '#account', appstore: '#applications'})

#app-list.gridster
