// .section-title.darkbg.bigger home

#home-edit-close.w800
    label Background color
    input.colorpicked(name="background-color")
    label Tile color
    input.colorpicked(name="button-color")
    label Tile color on hover
    input.colorpicked(name="button-hover-color")
    #colorpicker

    a#save-custom.btn(href="#home")= t('finish layout edition')
    | &nbsp;
    a#reset-custom.btn= t('reset customization')

#no-app-message.w600

  .darkbg#start-title.clearfix
    a(href="http://cozy.io")
        img.logo(src="img/happycloud.png")
    p.biggest= t('welcome to your cozy')
  .line
    p.bigger.pa2= t('you have no apps') + ' '
        a(href="#account")= t('configure')
        = ' ' + t ('install your first app')
        a(href="#applications")= t('app store')
        |.

    h4.pa2= t ('dashboard')
    p
        =t ('menu description')
    p
        img(src="/img/home-black.png")
        strong= t('home') + ': '
        = t('where you reach applications')
    p
        img(src="/img/config-apps.png")
        strong=t('app management') + ': '
        = t('There you can manage the state of your applications: start it, stop it, remove it...')
    p
        img(src="/img/apps.png")
        strong= t('app store') + ': '
        = t('app store contains applications')
    p
        img(src="/img/configuration.png")
        strong=t('configuration') + ': '
        = t('set cozy parameters here')
    p
        img(src="/img/help.png")
        strong=t('assistance') + ': '
        = t('links to resources')

    h4.pa2= t ('synchronization')
    p
        =t ('synchronization description')
    p
        =t ('caldav cardav with davrdoid')
    p
        =t ('files with cozy on android')
#app-list.gridster
