header#header.navbar

.home-body
  #app-frames
  #content
    #home-menu.mt3
        .txtright.menu-btn
            a(href="#applications")
                span= t('choose your apps')
                img(src="img/store.png")
        .txtright.menu-btn
            a(href="#config-applications")
                span= t('manage your apps')
                img(src="img/config-apps.png")
        .txtright.menu-btn
            a(href="#customize")
                span= t('customize your cozy')
                img(src="img/apps.png")
        .txtright.menu-btn
            a(href="#account")
                span= t('configure your cozy')
                img(src="img/configuration.png")
        .txtright.menu-btn
            a(href="#help")
                span= t('ask for assistance')
                img(src="img/help.png")
    #home-content
