
.right
    a.website(href="#{app.git}", target="_blank")
        img(src="img/git.png").img-btn
    if app.website !== undefined
        a.website(href="#{app.website}", target="_blank")
            img(src="img/link.png").img-btn

.app-img.left
    if app.svgSpriteSlug
        img(class=app.svgSpriteSlug)
    else
        img(src="#{app.icon}")
    span.installing-label= t("market app install")

.app-text
    h3 #{app.displayName}
        if app.beta
            span.beta Beta
    span.comment= t(app.comment)
    p.par2= t(app.description)
