.platform-section
    //- p.mt2 #{t('introduction market')}
    #app-market-list
        #market-applications-list
            #no-app-message= t('installed everything')

    #your-app.clearfix
        h2= t('install your app')
        .text
            p
                = t('market install your app')
            p.add-app-field.fied-with-btn
                input(type="text", class="span3", id="app-git-field", placeholder="https://github.com/username/repository.git@branch")
                button.btn.app-install-button= t('install')

            .error.alert-error
            .info.alert
            p.more
                = t('market install your app tutorial')
                &nbsp;
                a(href="https://dev.cozy.io/",
                  target="_blank")= t('market app tutorial')
                | .
.md-overlay
