.md-content
    .md-header.clearfix
        .line
            h3.left #{model.name}
            .right
                a(href="#{model.git}").repo-stars &nbsp;
                a(href="#{model.git}")
                    img(src="img/star-white.png")
        if (model.comment !== 'official application')
            .line.noncozy-warning
                = t('warning unofficial app')
    .md-body
    .md-footer.clearfix
        button.btn.right#confirmbtn= t('install')
        button.btn.light-btn.right#cancelbtn= t('cancel')
