.md-content
    .md-header.clearfix
        .line
            h3.left= t('update stack modal title')
    .md-body
        p.step1= t('update stack modal content')
        p.step2= t('refresh page')
    .md-footer.clearfix
        button.btn.right#confirmbtn= t('update stack modal confirm')
        button.btn.light-btn.right#cancelbtn= t('cancel')
