.md-content
    .md-header.clearfix
        .line
            h3.left= t('update stack modal title')
    .md-body
        p.step1= t('update stack modal content')
        p.step2= t('update stack waiting message')
        p.success= t('update stack success')
        p.error= t('update stack error')
    .md-footer.clearfix
        button.transparent-grey#cancelbtn= t('cancel')
        button.btn#confirmbtn= t('update stack modal confirm')
        button#ok= t('ok')

